/**
 * Contribution form.
 */

/* Main amounts radios */
.crm-contribution-main-form-block .contribution_amount-content .price-set-row {
  display: inline-block;
}
.crm-contribution-main-form-block .contribution_amount-content .price-set-row .crm-price-amount-amount,
.crm-contribution-confirm-form-block .amount_display-group .crm-price-amount-label,
.crm-contribution-thankyou-form-block .amount_display-group .crm-price-amount-label {
  display: none;
}

.crm-contribution-main-form-block .contribution_amount-content .price-set-row .price-set-option-content {
  /* copied from bootstrap */
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  border-radius: 4px;
  color: #555;
  border: 1px solid #CCC;
  white-space: nowrap;
  vertical-align: middle;
}
.crm-contribution-main-form-block .contribution_amount-content .price-set-row .price-set-option-content.highlight {
  border: 1px solid #54B4EB;
}

/* "Other amount" : align the $ sign after the field */
.crm-contribution-main-form-block #priceset .other_amount-content input.crm-form-text {
  display: inline-block;
}
.crm-contribution-main-form-block #priceset .other_amount-content br {
  display: none;
}

/* Mandatory marker on billing-block weirdly redundant because of addRules in buildForm */
#payment_information .label label .crm-marker {
  display: none;
}

#payment_information .crm-form-text {
  display: inline-block;
}

/* Error messages on forms */
label.crm-inline-error.alert-danger {
  margin-bottom: 0;
  margin-left: 1em;
  padding: 10px;
}

/* CiviCRM main dashboard */
body.page-civicrm #crm-container #civicrm-dashboard > ul#column-0,
body.page-civicrm #crm-container #civicrm-dashboard > ul#column-1 {
  width: 50%;
  min-height: auto;
  padding: 0;
}

/* popup confirmation extension */
#crm-paymentconfirmpopup .label {
  float: none;
  width: auto;
  text-align: left;
}

/* show only the amount label */
#crm-paymentconfirmpopup .crm-price-amount-amount {
  display: none;
}

body.page-civicrm-contribute-transact .ui-dialog-titlebar {
  display: none;
}

body.page-civicrm-contribute-transact .ui-widget-content {
  border: 0;
}

body.page-civicrm-contribute-transact .ui-dialog-buttonpane {
  background: none;
}

/**
 * CSS for fancier radio buttons.
 * c.f. CRM.symbioticuxFormRadiosAsButtons()
 * A lot of '!important' statements because of shoreditch.
 */
.symbiocrm-form-radios-as-buttons .crm-radio-wrapper {
  display: inline-block;
  height: auto !important;
  line-height: 1em !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  margin-right: 10px !important;
  text-align: center !important;
  cursor: pointer !important;
}
.symbiocrm-form-radios-as-buttons .crm-radio-wrapper-100px {
  width: 100px !important;
}
.symbiocrm-form-radios-as-buttons .crm-radio-wrapper-200px {
  width: 200px !important;
}
.symbiocrm-form-radios-as-buttons .crm-radio-wrapper label {
  display: block;
  padding: 10px 10px !important;
}
.symbiocrm-form-radios-as-buttons .crm-radio-wrapper label {
  padding: 20px 20px !important;
  white-space: nowrap;
  margin: 0 !important;
}
.symbiocrm-form-radios-as-buttons .value {
  font-size: 0; /* whitespace cringe when display:inline-block */
}
.symbiocrm-form-radios-as-buttons .crm-clear-link {
  display: none !important; /* no need for clear-link if we can unselect buttons */
}
.case-tab-activities .symbiocrm-form-radios-as-buttons .crm-radio-wrapper {
  padding-bottom: 30px !important; /* no idea why, on case-activity, needs more padding */
}
.symbiocrm-form-radios-as-buttons .crm-radio-wrapper:hover {
  background: #eee;
}
.symbiocrm-form-radios-as-buttons .crm-radio-wrapper.selected {
  background: #056186;
}
.symbiocrm-form-radios-as-buttons .crm-radio-wrapper.selected > label {
  color: #fff !important;
}
.symbiocrm-form-radios-as-buttons input.crm-form-radio {
  display: none;
}
.crm-container .symbiocrm-form-radios-as-buttons input[type="radio"]:not(.old-radiocheckbox-style) + label[for]::before,
.crm-container .symbiocrm-form-radios-as-buttons input[type="radio"]:not(.old-radiocheckbox-style):checked + label[for]::after {
  content: '' !important; /* remove fake radio button */
  display: none;
  background: inherit !important;
}
